@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/proximanova_400.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/proximanova_600.otf') format('opentype');
    font-display: swap;
}