@charset "UTF-8";
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  background-color: gray;
  padding: 20px;
  font-family: "Proxima Nova", sans-serif;
  flex-direction: column;
}

.author {
  display: flex;
  margin: 24px 24px 0;
  min-height: 40px;
  align-items: center;
}
.author__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  align-self: center;
}
.author__right {
  display: flex;
  flex-grow: 1;
  margin-left: 12px;
}
.author__info {
  display: flex;
  flex-direction: column;
  min-width: 233px;
  gap: 2px;
  margin-right: auto;
  margin-top: 3px;
}
.author__info-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
}
.author__info-statistic {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.4);
}
.author__statictics {
  display: flex;
  list-style: none;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 12px;
  min-height: 40px;
  width: 368px;
}
.author__statictics-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 64px;
  position: relative;
}
.author__statictics-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.item__title, .item__content {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}
.item__title--small, .item__content--small {
  font-size: 12px;
  line-height: 14px;
}
.item__title--green, .item__content--green {
  color: #62B435;
}
.item__title--grey, .item__content--grey {
  color: rgba(0, 0, 0, 0.4);
}
.item__title--red, .item__content--red {
  color: #F64747;
}
.item__title--small {
  font-weight: 400;
  margin-top: 2px;
}

.forecast-item {
  width: 100%;
  max-width: 768px;
  min-width: 704px;
  min-height: 354px;
  margin: auto;
  margin-top: 100px;
  background-color: white;
  border-radius: 8px;
  padding-bottom: 16px;
}
.forecast-item__content {
  margin: 40px 24px 0;
  padding-bottom: 24px;
  position: relative;
}
.forecast-item__content::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  top: -20px;
}
.forecast-item__content-text {
  margin: 0;
  max-height: 120px;
  position: relative;
  overflow-y: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}
.forecast-item__content-text::after {
  content: "";
  display: block;
  width: 100%;
  height: 27px;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 30%, rgb(255, 255, 255));
  bottom: 0;
  z-index: 1;
}
.forecast-item__content-btn {
  width: 40px;
  z-index: 2;
  height: 40px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: -20px;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.forecast-item__footer {
  width: 100%;
  min-height: 80px;
  background-color: rgba(240, 241, 242, 0.4);
  border-left: 2px solid rgb(52, 152, 219);
  padding: 24px 24px 24px 22px;
  display: flex;
}
.forecast-item__footer-info {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.forecast-item__footer-title, .forecast-item__footer-text {
  margin: 0;
}
.forecast-item__footer-title {
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
}
.forecast-item__footer-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.forecast-item__footer-bookmaker {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 20px;
}
.forecast-item__footer-bookmaker-link {
  font-size: 0;
  margin: 0;
  padding: 0;
}
.forecast-item__footer-bookmaker-title, .forecast-item__footer-bookmaker-text {
  margin: 0;
}
.forecast-item__footer-bookmaker-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: rgb(51, 51, 51);
}
.forecast-item__footer-bookmaker-title span:nth-of-type(2) {
  display: none;
}
.forecast-item__footer-bookmaker-text {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
}
.forecast-item__footer-bookmaker-btn {
  width: 140px;
  height: 40px;
  padding: 12px 16px;
  border-radius: 4px;
  background-color: rgb(52, 152, 219);
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  cursor: pointer;
}

@media (width >= 744px) {
  .mobile-only {
    display: none;
  }
}
/* стили для адаптива */
@media (width < 744px) {
  body {
    padding: 12px;
  }
  .forecast-item {
    width: 351px;
    min-width: 351px;
    min-height: 374px;
    padding-bottom: 12px;
  }
  .forecast-item__content {
    margin: 30px 16px 0;
    padding-bottom: 14px;
  }
  .forecast-item__content::before {
    top: -18px;
  }
  .forecast-item__content-text {
    max-height: 122px;
  }
  .forecast-item__footer {
    flex-wrap: wrap;
    align-items: end;
    padding: 16px 16px 16px 14px;
  }
  .forecast-item__footer-info {
    width: calc(100% - 96px);
  }
  .forecast-item__footer-text {
    font-size: 16px;
    line-height: 18px;
  }
  .forecast-item__footer-bookmaker {
    gap: 8px;
    max-width: 90px;
    margin-right: 0;
  }
  .forecast-item__footer-bookmaker-title span:nth-of-type(1) {
    display: none;
  }
  .forecast-item__footer-bookmaker-title span:nth-of-type(2) {
    display: inline;
  }
  .forecast-item__footer-bookmaker-text {
    font-size: 18px;
    line-height: 22px;
  }
  .forecast-item__footer-bookmaker-btn {
    width: 100%;
    margin-top: 16px;
  }
  .author {
    margin: 16px 16px 0;
    min-height: 32px;
  }
  .author__right {
    flex-direction: column;
    margin-left: 8px;
    gap: 2px;
  }
  .author__info {
    margin-top: 0;
    flex-direction: row;
    margin-right: 0;
  }
  .author__info-statistic {
    margin-left: auto;
  }
  .author__info-statistic span {
    display: none;
  }
  .author__statictics {
    width: auto;
    min-height: 0;
    gap: 13px;
  }
  .author__statictics-item:nth-of-type(-n + 3)::after {
    content: "/";
    position: absolute;
    right: -9px;
    display: inline;
    width: auto;
    height: auto;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.2);
    background-color: transparent;
  }
  .item {
    min-width: auto;
  }
  .item:last-child {
    margin-left: auto;
  }
  .item__title {
    display: none;
  }
  .item__content {
    font-weight: 400;
  }
}
/* ниже стили для раскрытия всего текста */
.forecast-item__content-text {
  transition: max-height 0.3s ease-in-out;
}
.forecast-item__content-text.expanded ::after {
  opacity: 0;
}
.forecast-item__content-text.expanded + .forecast-item__content-btn {
  transform: translateX(50%) rotate(180deg);
}
.forecast-item__content-btn {
  transition: transform 0.3s ease-in-out;
}

/*# sourceMappingURL=main.css.map */
